* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    width: 100vw;
    height: 100vh;
    background-color: #29304A;
}

.headline {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 70px;
    width: 330px;
}

.headline img {
    width: 70px;
    height: 70px;
}

.drum {
    font-family: 'Suez One', serif;
    font-size: 350%;
    text-shadow: 2px 2px 2px #E00464;
}

.kit {
    font-family: 'Suez One', serif;
    font-size: 350%;
    text-shadow: 2px 2px 2px #E00464;
}

.footer {
    color: white;
}

.keys {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.playing {
    transform: scale(1.2);
    border: 5px solid #FFE600;
    box-shadow: 0 0 1rem #FFE600;
}

.box {
    display: flex;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    /* border: 5px solid #404B68; */
    color: #E00464;
    font-family: 'Suez One', serif;
    font-size: 300%;
    justify-content: center;
    align-items: end;
    transition: all 0.07s ease;
}